@charset "UTF-8";
@import 'template.css';
::-webkit-scrollbar {
  background-color: #4D4D4D;
  border-radius: 0.3125rem;
}

body::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(168, 168, 168, 0.82);
  border-radius: 0.3125rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(168, 168, 168, 0.82) #4D4D4D;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.files {
  width: 46.25rem;
  height: 25.625rem;
  background-color: #25232F;
  padding: 0 0 0 1.25rem;
  border-radius: 0.625rem;
}

.files__title {
  color: #EDECEE;
  font-size: 1.4rem;
  padding-top: 1.25rem;
  font-weight: 500;
}

.files__table-wrapper {
  min-height: 13rem;
  max-height: 13rem;
  scrollbar-width: thin;
  overflow-y: auto;
  padding: 0.5rem 0;
  margin: 1.25rem 0;
  margin-right: 0.8rem;
}

.files__table-wrapper table {
  border-collapse: collapse;
  color: rgba(168, 168, 168, 0.82);
}
.files__table-wrapper table .active {
  color: #EDECEE;
}
.files__table-wrapper table tr {
  height: 2rem;
  border-top: 1px solid #4D4D4D;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  max-height: 2rem;
}
.files__table-wrapper table tr td {
  text-align: center;
  border-right: 1px solid #4D4D4D;
  max-height: 2rem;
}
.files__table-wrapper table tr td:nth-child(1) {
  width: 3rem;
  max-width: 13.68rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.files__table-wrapper table tr td:nth-child(2) {
  width: 13.68rem;
  max-width: 13.68rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.files__table-wrapper table tr td:nth-child(3) {
  width: 6.6rem;
  max-width: 6.6rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.files__table-wrapper table tr td:nth-child(4) {
  width: 18.75rem;
  max-width: 18.75rem;
  padding: 0 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  border-right: none;
  text-align: center;
  vertical-align: middle;
}

.files__table-wrapper table td span{
   display: block;
   max-height: 2.4rem;
}
.files__table-wrapper table tr:last-child {
  border-bottom: 1px solid #4D4D4D;
}
.files__table-wrapper table tbody tr {
  cursor: pointer;
}
.files__table-wrapper table tbody tr:hover {
  color: #EDECEE;
}

.files__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.375rem;
  padding: 1rem 0rem 1ю25;
}
.files__buttons button {
  text-align: left;
    background: none;
    border: none;
    width: 14rem;
    cursor: pointer;
}
.files__buttons span {
  color: #FFCA85;
  cursor: pointer;
}
.files__buttons img {
  width: 1.25rem;
  position: relative;
  top:0.18rem;
}

.preview {
  width: 25rem;
  height: 25.625rem;
  background-color: #3C3A48;
  border-radius: 0.625rem;
  margin-left: 0.28125rem;
  padding: 0 1.2rem;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.preview__title {
  font-size: 1.54rem;
  color: #FFCA85;
  padding-top: 1.25rem;
  -webkit-transition: inherit;
  transition: inherit;
  font-weight: 500;
}

.preview__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1rem;
  width: 14.4rem;
  height: 16.6rem;
  background-color: #25232F;
  border-radius: 0.8rem;
}

.preview__num-cols, .preview__code-text{
  margin: 0.5rem 0.2rem 0 0.7rem;
  display: flex;
  flex-direction: column;
  color: rgba(168, 168, 168, 0.82);
  
}
.preview__num{
 line-height: 0.8rem;
  vertical-align: middle;
  font-size: 0.7rem;
  gap:0.01rem;
  font-family: "Roboto Mono", monospace;

  text-align: end;
}
.preview__code-row {
  display: inline ;
  vertical-align: middle;
  font-size: 0.6rem;
  line-height: 0.8rem;
  max-height: 0.8rem;
  max-width: 12rem;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #EDECEE;
}

.preview__code {
  width: 14rem;
  height: 14rem;
}

.preview__code-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0 0 1rem;
  gap: 0.25rem;
  width: 7rem;
}
.preview__code-info span {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-color: rgba(168, 168, 168, 0.42);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.preview__code-info .preview__about {
  color: #B7B2B2;
  font-size: 0.9rem;
  height: 8vw;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  margin-top: 0.75rem;
  opacity: 0.7;
  max-width: 7.75rem;
}
.preview__code-info .preview__edit,
.preview__code-info .preview__size,
.preview__code-info .preview__date {
  color: #B7B2B2;
  font-size: 0.9rem;
  opacity: 0.9;
  max-width: 7.75rem;
  text-overflow:ellipsis;
  overflow: hidden;

}

.preview__code-result {
  position: absolute;
  margin-top: 7.1vw;
}
.preview__code-result img {
  border-radius: 0.7rem;
  width: 7rem;
}
.preview__code-result img:last-child {
  position: absolute;
  left: 0;
}

.preview__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
  margin-top: 1.4rem;
}
.preview__buttons button {
  width: 4.45rem;
  height: 1.82rem;
  font-weight: 500;
  font-size: 0.9rem;
  border: none;
  border-radius: 0.35rem;
  cursor: pointer;
}
.preview__buttons .preview__edit,
.preview__buttons .preview__load,
.preview__buttons .preview__copy,
.preview__buttons .preview__date {
  background-color: #4D4D4D;
}

.preview__edit {
  color: #FFCA85;
}

.preview__load {
  color: #7FE4C2;
}

.preview__copy {
  color: #61D0FF;
}

.preview__delete {
  background-color: #CD5757;
  width: 4rem;
  margin-left: 3.25rem;
}

.tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 39.8rem;
  height: 10.5rem;
  margin-top: 0.28125rem;
  padding: 1rem;
  border-radius: 0.625rem;
  background: #36343D;
}

.tip__title,
.cloud__title {
  color: #EDECEE;
  font-size: 1.125rem;
  margin-bottom: 1rem;
  font-weight: 500;
  opacity: 0.5;
}

.cloud__title {
  margin: 0;
}
.cloud__title img {
  width: 1.25rem;
  position: relative;
  top: 0.175rem;
}

.tip__title img {
  position: relative;
  left: 0.125rem;
  top: 0.125rem;
  width: 0.98rem;
  height: 1.19rem;
}

.tip__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 7rem;
}

.tip__text {
  width: 18rem;
  max-width: 18rem;
  overflow: hidden;
  color: rgba(168, 168, 168, 0.82);
  margin-right: 0.5rem;
  margin-top: 0.24rem;
}

.tip__code {
  position: relative;
  width: 16rem;
  height: 8.25rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.53125rem;
  bottom: 3.5rem;
  left: 3rem;
  overflow: hidden;
}

.cloud {
  width: 31.5rem;
  height: 10.5rem;
  border-radius: 0.625rem;
  background: #302E39;
  margin: 0.28125rem 0 0 0.28125rem;
  padding: 1rem;
}

.cloud__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #B7B2B2;
}

.cloud__diagram {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.25rem;
  height: 5.25rem;
}

.cloud__procent {
  font-size: 1rem;
  font-weight: 700;
  color: #FFCA85;
  margin-top: 0.5rem;
}

.cloud__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  width: 20rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.cloud__text div {
  font-weight: 600;
}

.cloud__upgrade {
  color: rgba(168, 168, 168, 0.82);
  font-size: 0.95rem;
}
.cloud__upgrade a {
  color: rgba(162, 119, 255, 0.6);
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.95rem;
}

.procent,
.memory {
  color: #CD5757;
  font-weight: 600;
}

.show{
  display: none !important;
}
/* смешные плашки */

.preview__wrap{
  display:flex; 
  justify-content:center;
  align-items: center;
  flex-direction: column;
  width: 18.9rem; height: 9.5rem;
  margin-top:3.1rem;
  border: 0.15rem dashed #6a6a6a;
  border-radius: 0.9rem;

  margin: auto;
  margin-top:4.5rem;
}

.preview__wrap div{
  text-align: center;
  color:#B7B2B2;
  font-size: 1.05rem;
  margin: 1.5rem 1.125rem 0.5rem;
}



.create-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 115vh;
  -webkit-backdrop-filter: blur(0.125rem);
          backdrop-filter: blur(0.125rem);
}


.create-menu__content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25.73rem;
  height: 17.75rem;
  background-color: #36343D;
  margin-bottom: 15vh;
  border-radius: 0.5rem;
}

.create__main{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  margin-top: 1.5rem;
  margin-left: 1rem;

}
.create-menu__icon img {
  margin: 0.703125rem;
  width: 2rem;
  height: 2rem;
}


.create-menu__text {
  text-align: center;
  line-height: 1.25;
  color: #B7B2B2;
  font-size: 1rem;
  font-weight: 700;
}


.create-menu__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  gap: 0.3125rem;
  width: 20rem;
}

.create__input-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
.create__input-wrapper span {
  width: 6rem;
  text-align: end;
  color: #B7B2B2;
  font-weight: 500;
  margin-right: 0.5rem;
  padding-top: 0.35rem;
}
.create__input-wrapper input
{
  width: 15.5rem;
  height: 1.9rem;
  outline: none;
  background-color: #4D4D4D;
  color: #EDECEE;
  border-radius: 0.28125rem;
  border: none;
  font-weight: 500;
  padding: 0.35rem;
}

.create-menu__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  width: 100%;
}

.create-btn{
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0.45rem 1rem;
  border: none;
  background-color: #4D4D4D;
  border-radius: 0.28125rem;
  color:#7FE4C2;
}