{% extends 'usersapp/layout_usersapp.html' %}
{% load static %}
{% block content %}
<div class="login">
    <div class='login__header'>
        <div class="logo">
            <div class="logo__icon">
                <img src="{% static 'usersapp/imgs/logo_set.svg' %}" alt="icon">
            </div>
            <div class="logo__text">
                <span>GRIDMASTER</span>
                <span>IDE</span>
            </div>
        </div>
        <div class="login__title">Login</div>
    </div>

    <form method="POST" action="" class="login__main">
        {% csrf_token %}
        <div class="login__input-wrapper">
            <span>username:</span>
            <input type="username" name='username' class="form-control" placeholder="username">
        </div>
        <div class="login__input-wrapper">
            <span>password:</span>
            <input type="password" name='password' class="form-control" placeholder="password">
        </div>
        <div class="buttons-wrapper">
            <button class='button-continue' value="Login" type="submit">Continue</button>
        </div>
         
    </form>

    <div class="login__footer">
        <span onclick = "document.location = '{% url 'registration' %}'" class="login__forgot" >Don't have account?</span>
    </div>
</div>
{% endblock %}
 