{% extends 'usersapp/layout_usersapp.html' %}
{% load static %}
{% block content %}
<div class="registration">
    <div class='registration__header'>
        <div class="logo">
            <div class="logo__icon">
                <img src="{% static 'usersapp/imgs/logo_set.svg' %}" alt="icon">
            </div>
            <div class="logo__text">
                <span>GRIDMASTER</span>
                <span>IDE</span>
            </div>
        </div>
        <div class="registration__title">Registration</div>
    </div>

    <div class="registration__main">
        <form class="registration__input-wrapper">
            <span>Username:</span>
            <input type="text" placeholder="Username">
        </form>
        <form class="registration__input-wrapper">
            <span>Email:</span>
            <input type="text" placeholder="Email">
        </form>
        <form class="registration__input-wrapper">
            <span>Password:</span>
            <input type="password" placeholder="Password">
        </form>
        <form class="registration__input-wrapper">
            <span style='padding-top: 0'>Repeat <br>password:</span>
            <input type="password" placeholder="Repeat">
        </form>
        <div class="buttons-wrapper">
            <button class='button-continue'>Continue</button>
        </div>

    </div>
</div>
{% endblock %}
