{% load static %}

<link rel="stylesheet" href="{% static 'mainapp/css/code.css' %}">
<link rel="stylesheet" href="{% static 'mainapp/css/main.css' %}">
<div class="preview">
    <div class="preview__title">{{ title }}</div>
    <form class="preview__info">
      <form class="preview__code">{{ code_preview }}</form>
        <div class="preview__code-info">
            <span class='preview__edit'>Last edit: {{ date | date:"d.m.Y" }}</span>
            <span class='preview__size'>Size: {{ size }}</span>
            <span class='preview__about'>{{ description }}</span>
        </div>
    </form>
    <div class="preview__buttons">
        <button class="preview__edit">Edit</button>
        <button class="preview__load">Load</button>
        <button class="preview__copy">Copy</button>
        <button class="preview__delete">Delete</button>
    </div>
</div>

