{% extends 'mainapp/layout_mainapp.html' %}
{% load static %}
{% block content %}

<div class="main-title">
    <span class="main-title__category">Project Manager</span>
    <div class="line"></div>
    <span class="main-title__name">IntSquad</span>

</div>

<div class="menu">
    <div class="files">
        <div class="files__title">My files</div>

        <form class='files__table-wrapper'>
            <table>
                <thead>
                    <tr>
                        <td>#</td>
                        <td>name</td>
                        <td>date</td>
                        <td>about</td>
                    </tr>
                </thead>
                <tbody>

                    {% for project in projects %}
                        <tr method="POST" name="csrf" 
                        
                        onclick = "openPreview(this)">  
                            <td>{{ forloop.counter }}</td>
                            <td>{{ project.title }}</td>
                            <td>{{ project.date | date:"d.m.Y" }}</td>
                            <td>{{ project.description }}</td>
                        </tr>
                    {% endfor %}
<!--   csrf='{% csrf_token %}'-->

                </tbody>
            </table>
        </form>
        
        <div class="files__buttons">
            <div class="files__create">
                <img src="{% static 'mainapp/imgs/create.svg' %}" alt="">
                <span>Create new file...</span>
            </div>
            <div class="files__import">
                <img src="{% static 'mainapp/imgs/import.svg' %}" alt="">
                <span>Import file...</span>
            </div>
            <div class="files__examples">
                <img src="{% static 'mainapp/imgs/examples.svg' %}" alt="">
                <span>Examples</span>
            </div>
        </div>
    </div>

    {% include 'mainapp/code_preview.html' %}

    <div class="tip">

        <div class="tip__title">Tip of the <br> day <img src="{% static 'mainapp/imgs/tip.svg' %}"></div>
        <form class='tip__wrapper'>
            <div class="tip__text">{{ tip.text }}</div>
            <div class='tip__code' style=" object-fit: cover;">
                <img src="{{ tip.img.url }}" alt="">
            </div>
        </form>

    </div>

    <div class="cloud">
        <div class="cloud__title">Account <br> cloud <span><img src="{% static 'mainapp/imgs/cloud.svg' %}"></span>
        </div>
        <div class="cloud__info">

            <div class="cloud__diagram">
                <canvas id='diagram' height='500' width="500" style = "position: absolute;"></canvas>
                <div class="cloud__procent"></div>
            </div>

            <div class='cloud__text'>
                {% if flag_free_place_valid %}
                <div>
                    <span class='procent'>There is no free space left in your account's cloud storage!!!</span> 
                </div>
                {% else %}
                <div>
                    There is <span class='procent'>{{ cloud_percent }}</span>% free space left in your account's cloud (<span
                        class='memory'>~{{ cloud_free_place }} byte</span>)
                </div>
                {% endif %}
                <div class='cloud__upgrade'>
                    Get upgrade to your account: <span>click here</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}