<div class="exit-menu">
    <div class="exit-menu__content">
        <div class="exit-menu__icon"><img src="{% static 'mainapp/imgs/question.svg' %}" alt=""></div>
        <div class="exit-menu__text">
            Changes have been made <br>to the project, do you want<br> to save before quitting?
        </div>
        <div class="exit-menu__buttons">
            <button class='save-btn'>Save and exit</button>
            <span>or</span>
            <button class='exit-btn'>Only exit</button>
        </div>
    </div>
</div>